name: Publish NuGet

on:
  push:
    tags:
      - "v*.*.*"   # e.g. v1.2.3

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Pack
        run: dotnet pack -c Release -o out /p:ContinuousIntegrationBuild=true

      - name: Push to NuGet.org
        run: dotnet nuget push "out/*.nupkg" --api-key "${{ secrets.Abudawood_Nuget_Key }}" --source https://api.nuget.org/v3/index.json --skip-duplicate

